.delete-modal {
  display: flex;
  flex-direction: column;

  background: #e4e6e7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  padding: 0px 0px 12px 11px;
  width: 240px;
  height: 82px;
}

.delete-text {
  color: #353535;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-left: 18px;
}
